.itemList-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
	width: 100%;
	text-align: center;
	background-color: #b806ff34;
    border-radius: 50px;
	border: 2px solid white;
    box-shadow: 0 0 15px white;
}
.tittle{
position: absolute;
visibility: hidden;
}

.lista {
    list-style: none;
}