.itemList--container {
	width: 100%;
	text-align: center;
	background-color: #b806ff34;
    padding: 3%;
    border-radius: 50px;
	border: 2px solid white;
    box-shadow: 0 0 15px white;
}

.lista {
    list-style: none;
}