.itemList-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    text-align: center;
}

.tittle {
    position: absolute;
    visibility: hidden;
}

.lista {
    list-style: none;
    color: rgba(0, 0, 0, 0.5);
}