* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;

}

body {
  background: url(../src/assets/imgs/playing-guitar-jared-dines.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

main {
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Item-Card {
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 2%;
  border-radius: 50px;
  margin: 20px;
  width: 25%;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 20px rgb(107, 0, 107), 0 0 30px rgb(107, 0, 107), inset 0 0 50px rgb(92, 5, 92), inset 0 0 40px rgb(92, 5, 92) ;
  font-size: 1.2rem;
}
.Item-Card img{
margin: 20px;
width: 40%;
height: 400px;
}
.Item-Card button{
  color: cyan;
  background-color: black;
  padding: 2%;
  border-radius: 50px;
  width: 25%;
  cursor: pointer;
  margin-top: 5px;
}

header {
  padding: 3px;
}
h5, h6:hover{
  text-shadow: 0 0 10px white, 0 0 20px rgb(81, 134, 212), 0 0 30px cyan ;
  cursor: pointer;
}